*{
    box-sizing: border-box;
}
body{
    background-color:rgb(245, 245, 245);
    margin: 0;
}
.aviso-header{
    background: #80D44C;
}
.lista-header{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 13px;
    margin: 0px;
}
.nav-imag{
    padding-top: 0.4rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.form-control{
    font-size: 13px;
}
.trustpilot{
    width: 70px;
    height: 48px;
}
.boton{
    border:2px solid black;
    background-color: #80D44C;
    text-decoration: none;
    color: white;
    padding: .6% 4.5%;
    border-radius: 19px;
    font-family: "League Gothic", sans-serif;
    font-size: 1.2rem;
}
h1{
    font-family: "League Gothic", sans-serif;
    font-size: 7em;
    line-height: 1;
}
@media(max-width:468px){
    h1{
        font-size: 4.5em;
    }
}
h2{
    font-family: "League Gothic", sans-serif;
    font-size: 5em;
    text-align: center;
    margin-top: .5em;
}
@media(max-width:468px){
    h2{
        font-size: 4em;
    }
}
h3{
    font-family: "League Gothic", sans-serif;
    font-size: 5em;
    text-align: center;
    line-height: 1;
}
@media(max-width:468px){
    h3{
        font-size: 2.5em;
    }
}
.subtitle{
    font-size: 1.15em;
    margin: 20px;
    padding-bottom: 10px;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url(../Segunda/Imagenes/shoes.jpg);
    color: white;
}
.pregunta{
    background-color: #80D44C;
}
.col{
    margin-top: 6em;
    margin-bottom: 6em;
}
@media(max-width:468px){
    .col{
        margin-top: 1em;
        margin-bottom: em;
    }
}
.gato{
    max-width: 300px;
    margin-top: -3.2rem;
}
@media(max-width:168px){
    .col{
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
.first{
    margin-top: 5em;
}
.textdog{
    text-align: center;
}
.title{
    margin-top: .8em;
}
.perrito-al{
    width: 30em;   
}
@media(width:468px){
    .perrito-al{
        width: 1em;
    }
}